.header__lang-link {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  text-align: right;
  color: #FFFFFF;
  background: none;
  border: none;
  padding: 0;
  transition: .5s ease-out;
}

.header__lang-link:hover {
  opacity: 0.5;
}

.header__lang-link:last-child {
  margin-left: 18px;
}

@media (min-width:768px) {
  .header__lang-link {
    font-size: 24px;
    line-height: 28px;
  }
}