.place__image {
  width: 100%;
  margin-top: 32px;
}

@media (min-width:768px) {
  .place__image {
    margin-top: 48px;
    min-width: 340px;
    min-height: 340px;
  }
}

@media (min-width:1024px) {
  .place__image {
    min-width: 440px;
    min-height: 440px;
    }
}

@media (min-width:1280px) {
  .place__image {
    min-width: 460px;
    min-height: 460px;
    }
}