.footer__links {
  list-style-type: none;
  display: grid;
  gap: 32px;
  margin: 60px 0 40px 16px;
  padding: 0;
}

@media (min-width:768px) {
  .footer__links  {
    margin: 0;
    gap: 18px;
    padding: 0;
    grid-template-columns: repeat(5,max-content);
  }
}

@media (min-width:1024px) {
  .footer__links  {
   
  }
}

@media (min-width:1280px) {
  .footer__links  {
    
  }
}