.lead__image { 
  width: 100%;
  margin: 0;
} 
 
@media (min-width:1024px) { 
  .lead__image { 
    max-width: calc(100% - 96px);
    margin: 0 48px;
  } 
} 
 
@media (min-width:1280px) { 
  .lead__image { 
    margin: 0 148px;
    max-width: calc(100% - 296px);
  } 
} 