.cover {
  margin: 66px auto 0;
  position: relative;
  background:url(../../img/cover-trains.jpg);
  width: 320px;
  height: 200px;
  background-size: cover;
  transition: .5s ease;
}
.cover:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
}
.cover:hover:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2a2c2f;
  opacity: 0.5;
}

@media (min-width:768px) {
  .cover {
    width: 768px;
    margin: 89px auto 0;
    height: 480px;
  }
}

@media (min-width:1024px) {
  .cover {
    width: 1024px;
    margin: 92px auto 0;
    height: 640px;
    }
}

@media (min-width:1280px) {
  .cover {
    margin:92px auto 0;
    width: 1184px;
    height: 740px;
    }
}