.grid-galary {
  display: grid;
  gap: 12px;
  margin: 64px auto 0;
  max-width: 288px;
}

@media (min-width:768px) {
  .grid-galary {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin: 88px auto 0;
    max-width: 720px;

  }
}

@media (min-width:1024px) {
  .grid-galary {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    margin: 92px auto 0;
    max-width: 928px;
  }
}

@media (min-width:1280px) {
  .grid-galary {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: 92px auto 0;
    max-width: 1184px;
}