.cover__title {
  position: relative;
  padding: 30px 16px 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
  margin: 0 auto;
}

@media (min-width:768px) {
  .cover__title  {
    max-width: 560px;
    font-size: 72px;
    line-height: 76px;
    padding:115px 104px 0;
  }
}

@media (min-width:1024px) {
  .cover__title  {
    padding:195px 232px 0;
  }
}

@media (min-width:1280px) {
  .cover__title  {
    padding:245px 312px 0;
  }
}
