@media (min-width:768px) {
  .footer  {
   margin:89px 24px 24px;
   display: flex;
   justify-content: space-between;
  }
}

@media (min-width:1024px) {
  .footer  {
    margin:89px 48px 24px;
  }
}

@media (min-width:1280px) {
  .footer {
    
  }
}